<a href="https://colab.research.google.com/github/cbologa/public_databases/blob/main/python/TCRD_get_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title
%load_ext google.colab.data_table
!pip -q install pymysql

Import packages and connect to database

In [ ]:
#@title
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Open database connection
engine = create_engine("mysql+pymysql://tcrd@tcrd.kmc.io:3306/tcrd6134")

Show all tables in the database

In [ ]:
pd.read_sql_query("""
show tables
 """, engine)

Show fields in a table

In [ ]:
pd.read_sql_query("""
show columns from goa
 """, engine)

Run SQL query to get some useful data for all proteins from TCRD

In [ ]:
#@title
# Execute query and store results in DataFrame df1
df1 = pd.read_sql_query("""
  select 
  protein.id,
  protein.name,
  protein.description,
  protein.sym,
  protein.uniprot,
  protein.geneid,
  protein.stringid,
  target.tdl,
  target.idg
from
  protein
  join t2tc on protein.id=t2tc.protein_id
  join target on t2tc.target_id=target.id
order by
  protein.id
 """, engine)

#save results to file
df1.to_csv("tcrd_proteins.csv", index=False)

# Show results
df1

Get all GO data

In [ ]:
#@title
df2 = pd.read_sql_query("""
select
  *
from
  goa
order by
  protein_id
""", engine)

#save results to file
df2.to_csv("tcrd_go.csv", index=False)

#Show results
df2